							/*image en fond*/
body{
	background-image:url(pattern.png);
	margin: 0;
	background-size:10%;
}

header  {
    height: 50px;
    background-color : 464A4E;
	min-width:500px;
}
nav.menu-nav  a{
	display:inline;
    color: C5CCD3;
	float:left;
    margin-right: 15px;
	margin-left: 15px;
	text-align:center;
	text-decoration:none;
	background-color:464A4E;
}
.txt{
    font-size: 25px;
	margin-top:10px;
}
.txt_secondary{
	margin-top :15px;
	font-size : 20px;
}
.img img{
	margin-top:5px;
	height :40px;
	width : 40px;
}

.member {
	font-size: 30px;
}

.SubTitle {
	padding-left: 15px;
}

.img_select img {
	margin-top:5px;
	height :40px;
	width : 40px;
}

nav.menu-nav a:hover{
	color: white;
	transition: 0.4s all;
}

div.box{
	margin: 50px;
	background-color: white;
	border: 2px solid;
	border-radius: 30px;
}
div .leftimage{
	margin :30px;
}
.centrer{
	padding-top:20px;
}
div.rightbox{
	float:left;
	margin: 50px;
	background-color: white;
	border: 3px solid;
	border-radius: 30px;
}
div.box:hover{
	background-color: DEDEDE;
	transition: 1s;
}
#presentation{
	margin-top : 10px;
	margin-right : 10px;
	margin-left : 280px;
	margin-bottom : 10px;
	min-width : 210px;
	height : auto;
	border: 2px solid black;
	background-color : white;
}
#presentation2{
	margin-top : 3%;
	margin-right : 5%;
	margin-left : 5%;
	width : auto;
	height : auto;
	margin-bottom : 3%;
	border: 2px solid black;
	background-color : white;
}
#presentation2 p{
	padding-left:50px;
	font-size:20px;
}
#presentation2 h2{
	padding-left:50px;
}
#presentation2 p a{
	text-decoration:none;
}
#presentation2 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height : auto;
}
#presentation p{
	padding-left : 50px;
	font-size : 20px;
}
#presentation img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
#navigation {
	width: 254px;
	position : fixed;
	list-style: none;
	margin: 10px;
	padding: 4px;
	background : gray;
}

#navigation li a {
	display: block;
	background: gray ;
	color: #fff ;
	font: 1em ;
	line-height: 1em ;
    text-align: left ;
    text-decoration: none ;
    padding: 4px 0 ;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: #3E3B3B ;
    text-decoration: underline ;
}
h1{
	text-align: center;
	font-size:80px;
}
h1 img.center

h2{
	margin-left:2px;
	text-align: center;
}
h3{
	background-image: url(Untitled.png);
	background-size : 100%;
	text-align: center;
	color : black;
	width : 100%;
	font-size: 100%;
	margin:0;
}
.center {
	text-align: center;
	font-size : 20px;
}
div.Titre {
	padding-top: 40px;
	text-align : center;
	font-size : 40px;
}
div.Titre2 {
	margin-top : 30px;
	margin-bottom : 60px;
	padding-top: 50px;
	border-top : 3px dashed black;
	text-align : center;
	font-size : 40px;
}
table {
	border-collapse: collapse;
	align : center;
	border : 2px solid;
}
p.p1{
	margin-left:30px;
	margin-top:30px;
	margin-bottom:60px;
	font-size:20px;
}
p.p2{
	width:20%;
}
#menu-vertical, #menu-vertical ul {
  padding:0;
  margin:0;
  list-style:none;
  width: 180px; /* seule ligne rajoutée */
}
#menu-vertical ul {
  position: absolute;
  left:-999em;
}
#menu-vertical li:hover ul {
  top: 0;
  left: 180px;
}